@{
    ViewData["Title"] = "EventEase Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><b>Contact EventEase at:</b></p>
<p><b>Gmail: eventeasepmb@gmail.com</b></p>
<p><b>Contact Number: 082 684 1879</b></p>
